service vendor.health-opi /apex/com.android.hardware.health.opi3b/bin/hw/android.hardware.health-service.opi
    class hal
    user system
    group system
    capabilities WAKE_ALARM BLOCK_SUSPEND
    file /dev/kmsg w
